$colour-light-link: #e17be1;
$colour-light-visited: #c25ec2;
$colour-dark-link: #f9bbf6;
$colour-dark-visited: #f1c9e3;

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Quicksand', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: x-large;
    margin: 0;
}

footer {
    padding: 1.5rem;
    font-size: 90%;
}

body[theme="light"] {
    color: white;
}

body[theme="dark"] {
    color: black;

    a {
        color: $colour-dark-link;
        text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

        &:visited {
            color: $colour-dark-visited;
        }
    }
}

a {
    color: $colour-light-link;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.85;

    &:visited {
        color: $colour-light-visited;
    }

    &:focus, &:hover {
        opacity: 1;
    }
}

code {
    font-weight: 700;
    text-shadow: 0px 0px 2px #000;
}

body[theme="dark"] code {
    color: white;
}

@media (max-width: 600px) {
    body {
        font-size: large;
    }
}

details {
    font-size: 90%;
}

button {
    font-size: large;
}

.main-background {
    background-size: cover;
}

.main-background[background="purple"] {
    background-image: url('./images/Blooming-heather-at-Westruper-Heide-resized.jpg');
}
.main-background[background="grey"] {
    background-image: url('./images/Glowing-sky-resized.jpg');
}
.main-background[background="green"] {
    background-image: url('./images/Small-railway-in-Gruga-Park-in-Essen-resized.jpg');
}

.main-navbar {
    min-height: 4rem;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 1);
}

.main-navbar h1 {
    margin: 0;
    padding: 1rem;
}

@media (max-width: 600px) {
    .main-navbar h1 {
        font-size: x-large;
    }
}

.main-section {
    padding: 1rem;
    max-width: 960px;
    margin: 0 auto;
}

.code-section {
    font-family: monospace;
    font-size: 1rem;
    color: black;
    padding: 0.5rem;
    width: 100%;
    height: 200px;
    margin: 0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.75);
}

.code-output {
    background-color: rgba(200, 200, 200, 0.75);
    overflow: auto;
}

.code-example-section {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.code-example-section>div {
    flex: 1;
}

.code-example-section__title {
    height: 2.0rem;
}

@media (max-width: 600px) {
    .code-example-section {
        flex-direction: column;
    }
}